.tabla {
  flex-direction: row;
  justify-content: center;
  align-self: center;
}
div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: auto;
}
.numero {
  width: 100%;
  font-size: 20px;
  font-family: "Inconsolata", monospace;
  font-family: "Space Mono", monospace;
  background-color: rgba(161, 120, 6);
}
.color_display {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgba(252, 232, 179);
}
